@model EnglishClass.Models.tb_Library

@{
    ViewBag.Title = "添加题目";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        $('form').bind('submit', checkform);
    });


    function checkform() {
        var vid = $("#VID").val();
        var text1 = $("#VID").find("option:selected").text();
        var state = $("#State").val();
          var text2 = $("#State").find("option:selected").text();
        var result = false;

        $.ajax({
            url: "/Library/CheckNums",
            data: { 'vid': vid, 'state': state },
            dataType: "json",
            async: false,
            success: function (data) {
                if (data.result == "1") {
                    result = false;
                    alert("当前视频" + text1 + "的"+text2+"级别已经添加了3个问题！");
                }
                else {
                    result = true;
                }
            },
            error: function (e) {
                alert(e);
            }
        });
        return result;
    }
</script>
<h2>添加题目</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">视频标题</label>
            <div class="col-md-10">
                @Html.DropDownList("VID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.VID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="State" name="State" class="form-control">
                    <option value="0">简单</option>
                    <option value="1">一般</option>
                    <option value="2">困难</option>
                </select>

                @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Question, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Question, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Question, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Answer1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Answer1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Answer1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Answer2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Answer2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Answer2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Answer3, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Answer3, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Answer3, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TAnswer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="TAnswer" name="TAnswer" class="form-control">
                    <option value="0">A</option>
                    <option value="1">B</option>
                    <option value="2">C</option>
                </select>
                @Html.ValidationMessageFor(model => model.TAnswer, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="添加" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
