@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using EnglishClass.Models;
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
    $(function () {

        InitData();
        InitState();
        InitList(1);
        BindLi();
        $("[data-toggle='tooltip']").tooltip();
        $("#nums").val($("#old_nums").html());
        $("#days").val($("#old_days").html());

    });


    function InitData() {
        $.ajax({
            type: "Get",
            url: "/Home/ShowTop",
            success: function (data) {
                $("#top").html(data);
            }
        });
    }
    function InitState() {
            $.ajax({
            type: "Get",
                url: "/Home/InitState",
                dataType:"json",
            success: function (data) {
                    $("#plant").html("");
                    var html = "";
                if (data.result=="0") {
                    html += "<button type='button' class='btn btn-info' data-toggle='tooltip' title='按照视频排列顺序播放' value='1' onclick='Update(this)'> 专家模式</button><button type='button' class='btn btn-success' data-toggle='tooltip' title='视频自由播放' value='2' onclick='Update(this)'> 自由模式</button>";
                    }
                else if (data.result=="1") {
                    html += " <h4 style='color:#51d9f7;'>当前模式：专家模式</h4><button class='btn btn-default' onclick='Out()'>退出</button>";
                    }
                else {
                    html += " <h4 style='color:#51d9f7;'>当前模式：自由模式</h4><button class='btn btn-default' onclick='Out()'>退出</button>";
                    }
                    $("#plant").html(html);
            }
        });
    }
    function Out() {
            $.ajax({
            type: "Post",
                url: "/Home/DeleteState",
                async: false,
               success: function (data) {
                   
                        InitState();
            }
        });
    }
    function Update(obj) {
        var state = $(obj).val();
           $.ajax({
               type: "Post",
               url: "/Home/ShowList",
               data: { "state": state },
               success: function (data) {
                   InitState();
            }
        });
    }

    function InitList(page) {
        $("#showlist").html("");
        $.ajax({
               type: "Post",
               url: "/Home/ShowList",
               data: { "page": page },
               success: function (data) {
               $("#showlist").html(data);
            }
        })
    }

    function BindLi() {
        $("#ullist li").bind("click", function () {
            $(this).siblings("li").removeClass("active");
            $(this).addClass("active");
        });
    }
</script>
<style type="text/css">
    h4 {
        display: inline;
        margin: 5px 5px;
    }

    #top label {
        font-size: 22px;
        color: green;
    }

    .a {
        color: gray;
        font-size: 22px;
        margin: 5px;
    }
</style>

<ul class="breadcrumb">
    <li><a href="/Home">首页</a></li>
    <li class="active">学习任务</li>
</ul>
<h3>学习任务</h3>
<hr />
<div id="top">

</div>

<h3>学习计划</h3>
<hr />
<div id="plant">

</div>


<h3>视频资源</h3>
<hr />
<div style="clear:both;">
    <div id="showlist"></div>
    @*@Html.Action("ShowList", "Home",new {id=0 })*@

    <div style="text-align:center;margin:0 auto;">
        <ul class="pagination pagination-lg" id="ullist">
            <li><a href="#" onclick="InitList(0)">&laquo;</a></li>
            @for (int i =1; i <= Convert.ToInt32(@ViewData["list"]); i++)
            {
                if (i == 1)
                {
                    <li class="active"><a href="#" onclick="InitList(@i)">@i</a></li>
                }
                else
                {
                    <li><a href="#" onclick="InitList(@i)">@i</a></li>
                }

            }
            <li><a href="#" onclick="InitList(@ViewData["list"])">&raquo;</a></li>
        </ul>
    </div>
</div>

<hr />


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">制定学习计划</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="name">制定课程数</label>
                    <input type="text" class="form-control" id="nums" placeholder="请输入课程数" value="@ViewData["old_nums"]" />
                </div>
                <div class="form-group">
                    <label for="name">制定完成天数</label>
                    <input type="text" class="form-control" id="days" placeholder="请输入课程数" value="@ViewData["old_days"]" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="btn_add">添加</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>