@model EnglishClass.Models.tb_Video

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    var datalist = new Array();
    var res = new Array();
    var tres = new Array();
    var size = 0;
    $(function () {
        $("#result").hide();
        $("#next").show();
        //监控视频播放完毕
    var md=document.getElementsByTagName("video")[0];
        md.addEventListener("ended", function () {
            size = 0;
            UpdateState();
            $("#myModal").modal("show");
    })
    });
    //检查你做过的类型
    function UpdateState() {
            $.ajax({
            type: "GET",
                dataType: "JSON",
                data: { "vid": $("#vid").val() },
            async: false,
            url: "/Library/Check",
                   success: function (data) {
                       $("#btn_list").html("");
                       var html = "";
                       html += GetHtml(0, data["list"][0], "简单","btn btn-success");
                       html += GetHtml(1, data["list"][1], "一般","btn btn-info");
                       html += GetHtml(2, data["list"][2], "困难", "btn btn-danger");
                       $("#btn_list").html(html);
             
                   }, error: function (e) {
                       alert(e.responseText);
            }
        });
    }
    function GetHtml(a, b,c,d) {
        var html = "";
        if (b==0) {
          html += " <button class='"+d+"' style='width:150px;' value='"+a+"' onclick='Select(this)'>"+c+"</button>";
        }
        else {
           html += " <button class='"+d+"' disabled='disabled' style='width:150px;' value='"+a+"' onclick='Select(this)'>"+c+"</button>";
        }
        return html;
    }
    //选择答题难度
    function Select(obj) {
        $("#myModal").modal("hide");
        $("#myModal2").modal("show");
        GetData($(obj).val());
        size = 0;
        Print(size);
        $("#next").show();
    }
    //关闭模式1
    function colesmyModal() {
        $.ajax({
            type: "GET",
            dataType: "JSON",
            data: { "VID": $("#vid").val() },
            async: false,
            url: "/Library/CheckSelect",
            success: function (data) {tb_User
                if (data.state == 1) {
                    alert(data.msg);
                }
            }
        })
    }
    //关闭模式2
    function colesmyModal2() {
        $("#myModal2").modal("hide");
        UpdateState();
         $("#myModal").modal("show");
    }
    //获取数据
    function GetData(state) {
      datalist.splice(0,datalist.length);  
        $.ajax({
            type: "post",
            data: { "VID": $("#vid").val(), "state": state },
            async: false,
            dataType: "json",
            url: "/Library/DetailsList",
            success: function (data) {
                for (var i = 0; i < data.count; i++) {
                    datalist.push(data["user"][i]);
                }
                }, error: function (e) {
                    alert(e.responseText);
                }
        });
    }
    //下一题
    function Next() {
        var result = false;
        $("input[type='radio']").each(function () {
            if ($(this).is(":checked")) { 
                result = true;
             }
        });
        if (!result) {
            alert("请选择选择！");
        }
        else {
            size++;
            Print(size);
        }
    }
    //打印题目
    function Print(i) {
        $("#ans").html("");
        var data = datalist[i];
        $("#myModalLabel").html("");
        $("#myModalLabel").html("<span>[" + (i + 1) + "/3]</span> " + (i + 1) + "." + data.Question + "");
        $("#LID").val(data.Lid);
        $("#ans").append(" <li><input type='radio' name='1' value='0' onclick='Select2(this)'/>A." + data.Answer1 + "</li>");
        $("#ans").append(" <li><input type='radio' name='1' value='1' onclick='Select2(this)'/>B." + data.Answer2 + "</li>");
        $("#ans").append(" <li><input type='radio' name='1' value='2' onclick='Select2(this)'/>C." + data.Answer3 + "</li>");
        if (i == 2) {
            $("#next").hide();
            $("#result").show();
        }
        tres.push(data.TAnswer);
    }
    //保存选项
    function Select2(obj) {
        var result = $(obj).val();
        res.push(result);
        var tresult = tres[res.length - 1];
        if (result==tresult) {
            result = 1;
        }
        else {
            result = 0;
        }

        $.ajax({
            type: "post",
            data: { "result": result, "LID": $("#LID").val() },
            url: "/Library/AddOrUpdata",
            success: function () {

            }, error: function (e) {
                alert(e.responseText);
            }
        });
    }
    //查看结果
    function result() {
        var result = false;
        $("input[type='radio']").each(function () {
            if ($(this).is(":checked")) { 
                result = true;
             }
        });
        if (!result) {
            alert("请选择选项！");
        }
        else {
        $("#myModalLabel").html("");
        $("#ans").html("");
            $("#myModalLabel").html("<span>结果如下：</span>");
            var html = "";
            var count = 0;
            for (var i = 0; i < res.length; i++) {
                if (res[i]==tres[i]) {
                    count++;
                }
                html += "<li>第"+(i+1)+"题：你选择的答案是" + Get(res[i]) + ",正确答案是:" + Get(tres[i]) + "</li>";
            }
            html += "<li>恭喜您，您一共答对:" + count + "题！</li>";
            $("#ans").html(html);
            $("#result").hide();
            size = 0;
            setTimeout(function () {
                    SetResult();
            }, 1000);
            size = 0;
            datalist.splice(0, datalist.length);
            res.splice(0, res.length);
            tres.splice(0, tres.length);
        
        }
    }
    //转换答案
    function Get(i) {
        if (i == "0") {
            return "A";
        }
        else if (i=="1") {
            return "B";
        }
        else {
             return "C";
        }
    }
    //记录看完
    function SetResult() {
           $.ajax({
            type: "post",
            data: { "VID": $("#vid").val() },
            async: false,
            dataType: "json",
            url: "/Library/AddRecordVideo",
               success: function (data) {
                   if (data.state=="0") {
                           alert("当前课程已完成！");
                   } else {
                      alert(data.msg);
                   }
               
               }, error: function (e) {
               
                }
        });
    }
</script>
<style type="text/css">
    span {
    font-weight:bold;
    font-size:18px;
    }
    #ans {
   
    }
    #ans>li {
    margin:10px 0px;
    }
</style>
<ul class="breadcrumb">
    <li><a href="/Home">首页</a></li>
    <li><a href="/Home/About">学习任务</a></li>
    <li class="active">@Model.VName</li>
</ul>
<div id="left">
    <input type="hidden" value="@Model.VID" id="vid"/>
    <h3>@Model.VName</h3>
    <hr />
    <p>作者:<span>@Model.tb_User.User_Name</span><a href="/Video/ChatWithPersion?id=@Model.UID"><img src="~/Images/chat.jpg" width="40" /></a>  </p>
    <p>发布时间:<span> @Model.CreateTime</span></p>
    <div>
        <video controls="controls" width="785" id="video">
            <source src="@Model.VAddress" type="video/mp4" />
        </video>
    </div>
    <hr />
    <h4>简介：</h4>
    <p>@Model.Remake</p>

</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="colesmyModal()">&times;</button>
                <h4 class="modal-title" id="myModalLabel1">请选择答题难度</h4>
            </div>
            <div class="modal-body" id="btn_list">
                   
                    @*<button class="btn btn-info" style="width:150px;" value="1"  onclick="Select(this)">一般</button>*@
                    @*<button class="btn btn-danger" style="width:150px;" value="2" onclick="Select(this)">困难</button>*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="colesmyModal()">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="colesmyModal2()">&times;</button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">
                <ul style="list-style:none;" id="ans">
                   
                </ul>
                <input type="hidden" id="LID"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="colesmyModal2()">关闭</button>
                <button type="button" class="btn btn-primary" onclick="Next()" id="next">下一题</button>
                <button type="button" class="btn btn-primary" onclick="result()" id="result">查看结果</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

